@using PersonelMVCUI2.Models.EntityFramework
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <br />
    <br />
    <h2 class="toast-header">DEPARTMAN LİSTESİ</h2>
    <table class="table table-bordered" id="tblDepartmanlar">

        <thead>
            <tr>
                <th> ID </th>
                <th> AD </th>
                <th> GÜNCELLE </th>
                <th>PERSONELLER</th>
                <th> SİL </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var departman in Model)
            {
                <tr>
                    <td>@departman.Id</td>
                    <td>@departman.Ad</td>
                    <td><a class="btn btn-primary" href="/Departman/Guncelle/@departman.Id">Güncelle</a></td>
                    <td>
                        @Ajax.ActionLink("Personelleri Göster","PersonelleriListele","Personel",new { id = departman.Id }
                    ,new AjaxOptions { HttpMethod = "GET",UpdateTargetId="personelListesi" },new { @class = "btn btn-warning" })
                    </td>
                    <td><a class="btn btn-danger" href="/Departman/Sil/@departman.Id">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" href="/Departman/Yeni">YENİ DEPARTMAN EKLE </a>
    <div id="personelListesi"></div>
    <br />
    <hr />

</body>
