  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">HOŞGELDİNİZ    @HttpContext.Current.User.Identity.Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/Departman/Index">DEPARTMANLAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Personel/Index">PERSONELLER</a>
                </li>
                @if (User.IsInRole("A"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Kullanicis/Index">KULLANICILAR</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Works/Index">İŞ YÖNETİMİ</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link " href="/Security/Logout">ÇIKIŞ YAP</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
